<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FrontPage DasGarage</title>

    <style>
        body {
            background-image: url('/static/imagines/background.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>

</head>

<body>

<h1>Welcome to Online Store DAS Garage</h1>

<a class="weatherwidget-io" href="https://forecast7.com/en/44d4326d10/bucharest/" data-label_1="BUCHAREST"
   data-label_2="WEATHER" data-theme="original">BUCHAREST WEATHER</a>
<script>
    !function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id;
            js.src = 'https://weatherwidget.io/js/widget.min.js';
            fjs.parentNode.insertBefore(js, fjs);
        }
    }(document, 'script', 'weatherwidget-io-js');
</script>

<table>
    <tr>
        <th>id</th>
        <th>Brand</th>
        <th>Mileage KM</th>
        <th>Price €</th>
        <th>Quantity</th>
        <th></th>
    </tr>

    <tr th:each="product:${stockList}">
        <td th:text="${product.productId}"></td>
        <td th:text="${product.brand}"></td>
        <td th:text="${product.mileage}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.quantity}"></td>
        <td>
            <a th:href="@{'/product/view/' + ${product.productId}}">View</a>
            <a th:href="@{'/product/edit/' + ${product.productId}}">Edit</a>
            <a th:href="@{'/product/delete/' + ${product.productId}}">Delete</a>
        </td>
    </tr>

</table>
<a href="/product/add">Add Product</a>

</body>
</html>