<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FrontPage DasGarage</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
            crossorigin="anonymous"></script>
    <style>
        body {
            background-image: url('/imagines/backgroundView.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }

        .card:not(:last-child) {
            margin-right: 10px;
        }

        .card {
            margin-top: 10px;
        }
    </style>

</head>
<body>

<br>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid" style="margin-bottom: 10px;">
        <img src="/imagines/dasgarageLogo.jpg" alt="" width="130" height="100" class="d-inline-block align-text-top">
        <a class="navbar-brand text-dark" href="#">Welcome to "DAS Garage" by SDA Academy JavaRemote Ro21-2021 Team,
            Daniel Stoica </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active text-dark" aria-current="page" href="/frontpage">[ Home ]</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/aboutUs">[ About Us ]</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        [ Login ]
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">New User</a></li>
                        <li><a class="dropdown-item" href="#">Existing User</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Admin</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/leasing">[ Leasing ]</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/product/add">[ Add product ]</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#">[ Buy a car ]</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark"
                       href="https://www.accuweather.com/ro/ro/bucharest/287430/daily-weather-forecast/287430">[ Weather
                        ]</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<br>
<!--widgets curs valutar-->
<div style="position: absolute; top: 120px; right: 50px;">
    <script type="text/javascript" language="javascript"
            src="//cdn1.curs-valutar-bnr.ro/custom_widgets/get_widget.php?lw=230&rw=1&font=Trebuchet%20MS&cft=00b0ea&ctt=ffffff&ttb=0&cc=f2f2f2&cfb=ffffff&ct=000000&pd=4&pc=4&aiv=1&val[]=8&val[]=19&val[]=9&val[]=4&mf=14&avc=1&ac=1&aod=0&lang=ro"></script>
    <span style="font-family:arial;font-size:11px;color:#a2a2a2">&nbsp; oferit de: <a
            href="https://www.curs-valutar-bnr.ro"
            title="Curs BNR"
            style="font-size:11px;color:#a2a2a2;text-decoration:underline">curs-valutar-bnr.ro</a></span>
</div>

<!--widgets weather-->
<div style="position: absolute; top: 130px; left: 30px;">
    <div id="wwo-weather-widget-4"></div>
    <script type='text/javascript'
            src='https://www.worldweatheronline.com/widget/v5/weather-widget.ashx?loc=2997066&wid=4&tu=1&div=wwo-weather-widget-4'
            async></script>
    <noscript><a href="https://www.worldweatheronline.com/spring-weather/central-java/id.aspx"
                 alt="Hour by hour Spring, Central Java weather">Spring, Central Java weather forecast hourly</a>
    </noscript>
</div>

<!--<a class="btn btn-dark" href="/product/add">Add Product</a>-->

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="container">
                <div class="row">
                    <div class="card text-center " th:each="product:${stockList}" style="width: 19rem;">
                        <img th:src="${product.imagineUrl}" class="card-img-top" alt="CarPictures">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${product.brand}"></h5>
                            <p class="card-text" th:text="${product.description}"></p>
                            <p class="card-text" th:text="${product.mileage} + ' KM' "></p>
                            <p class="card-text" th:text="${product.price} + ' Price €' "></p>
                            <p class="card-text" th:text="${product.quantity} + ' Units' "></p>

                            <div style="position: absolute; bottom: 0px;">
                                <a th:href="@{'/product/view/' + ${product.productId}}" class="btn btn-dark">View</a>
                                <a th:href="@{'/product/edit/' + ${product.productId}}" class="btn btn-dark">Edit</a>
                                <a th:href="@{'/product/delete/' + ${product.productId}}"
                                   class="btn btn-dark">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<div class=" text-center p-2 bg-white text-dark">
    DAS Garage is a fictional company made only for Java learning purposes.
    Terms and conditions don't apply, user discretion is advised.
    Website by SDA Academy JavaRemote Ro21-2021 Team, Daniel Stoica
</div>

</body>
</html>

