<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Add</title>
    <style>
        body {
            background-image: url('/imagines/background.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>

</head>
<body>

<form action="/product/save" method="post" th:object="${product}">

    <input type="hidden" name="productId" th:field="*{productId}">

    <div class="mb-3">
        <label for="inputBrand" class="form-label">Brand</label>
        <input type="text" class="form-control" id="inputBrand" name="brand" th:field="*{brand}">
    </div>

    <div class="mb-3">
        <label for="inputMileage" class="form-label">Mileage</label>
        <input type="text" class="form-control" id="inputMileage" name="mileage" th:field="*{mileage}">
    </div>

    <div class="mb-3">
        <label for="inputPrice" class="form-label">Price</label>
        <input type="text" class="form-control" id="inputPrice" name="price" th:field="*{price}">
    </div>

    <div class="mb-3">
        <label for="inputQuantity" class="form-label">Quantity</label>
        <input type="text" class="form-control" id="inputQuantity" name="quantity" th:field="*{quantity}">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>


<!--widgets curs valutar-->
<script type="text/javascript" language="javascript"
        src="//cdn1.curs-valutar-bnr.ro/custom_widgets/get_widget.php?lw=230&rw=1&font=Trebuchet%20MS&cft=00b0ea&ctt=ffffff&ttb=0&cc=f2f2f2&cfb=ffffff&ct=000000&pd=4&pc=4&aiv=1&val[]=8&val[]=19&val[]=9&val[]=4&mf=14&avc=1&ac=1&aod=0&lang=ro"></script>
<span style="font-family:arial;font-size:11px;color:#a2a2a2">&nbsp; oferit de: <a href="https://www.curs-valutar-bnr.ro"
                                                                                  title="Curs BNR"
                                                                                  style="font-size:11px;color:#a2a2a2;text-decoration:underline">curs-valutar-bnr.ro</a></span>


</body>
</html>