<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title> Test PAGE</title>
    <link href="https://fonts.googleapis.com/css?family=Courgette|Open+Sans&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
            crossorigin="anonymous"></script>


    <script src="https://kit.fontawesome.com/b0b4d0fe2c.js" crossorigin="anonymous"></script>



    <h3>Test page</h3>


    <style>


    </style>


</head>
<body>





<!--footer-->
<!--<footer class="bg-light text-center text-dark">-->
<!--<div container>-->
<!--<section class="mb-4" style="padding-top: 15px">-->

<!--    <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button">-->
<!--        <i class="fab fa-facebook"></i>-->
<!--    </a>-->

<!--    <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button">-->
<!--        <i class="fab fa-twitter"></i>-->
<!--    </a>-->

<!--    <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button">-->
<!--        <i class="fab fa-waze"></i>-->
<!--    </a>-->

<!--    <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button">-->
<!--        <i class="fab fa-instagram"></i>-->
<!--    </a>-->

<!--    <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button">-->
<!--        <i class="fab fa-linkedin-in"></i>-->
<!--    </a>-->

<!--</section>-->
<!--<section class="">-->

<!--    <div class="row">-->

<!--        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">-->
<!--            <h5 class="text-uppercase">Company</h5>-->

<!--            <ul class="list-unstyled mb-0">-->
<!--                <li>-->
<!--                    <a href="#!" class="text-dark">About Us</a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a href="#!" class="text-dark">Partner companies</a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a href="#!" class="text-dark">Partner cars</a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a href="#!" class="text-dark">Insurance</a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->

<!--        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">-->
<!--            <h5 class="text-uppercase">Service</h5>-->

<!--            <ul class="list-unstyled mb-0">-->
<!--                <li>-->
<!--                    <a href="#!" class="text-dark">How it works</a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a href="#!" class="text-dark">Current products</a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a href="#!" class="text-dark">Pricing</a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a href="#!" class="text-dark">Terms and conditions</a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->

<!--        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">-->
<!--            <h5 class="text-uppercase">Resources</h5>-->

<!--            <ul class="list-unstyled mb-0">-->
<!--                <li>-->
<!--                    <a href="#!" class="text-dark">Help</a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a href="#!" class="text-dark">Articles</a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a href="#!" class="text-dark">Blog</a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a href="#!" class="text-dark">Community</a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->

<!--        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">-->
<!--            <h5 class="text-uppercase">Support</h5>-->

<!--            <ul class="list-unstyled mb-0">-->
<!--                <li>-->
<!--                    <a href="#!" class="text-dark">FAQ</a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a href="#!" class="text-dark">Customer support</a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a href="#!" class="text-dark">Knowledge base</a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a href="#!" class="text-dark">Email</a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!--</div>-->
<!--</footer>-->


<br>
<div class="fixed-bottom text-center p-2 bg-white text-dark">
    DAS Garage is a fictional company made only for Java learning purposes.
    Terms and conditions don't apply, user discretion is advised.
    Website by SDA Academy JavaRemote Ro21-2021 Team, Daniel Stoica
</div>


</body>
</html>